.grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Modifica este valor para ajustar el tamaño de las cartas */
   gap: 10px; /* Espacio entre las cartas */
   max-width: 800px; /* Ancho máximo del contenedor */
   margin: 0 auto; /* Centra el contenedor */
}

.grid img {
   max-width: 100%; /* Para asegurar que las imágenes se ajusten al contenedor */
}

